@import "bourbon";
@import "vars.scss";


@media (min-width: 768px) {
  #sec_02{
    ul br{ display: none;}
  }
  #sec_03{
    .item br {display: none;}
    .italic{width: 450px;}
  }
  #sec_02, #sec_03, #sec_04, #sec_05,
  #sec_06, #sec_10, #sec_11,
  #sec_12, #sec_13, #sec_14{
    img{width: 100%;}
  }
  #sec_07{
    .item_title{
      .time{margin-right: 0;}
    }
    .item_text{
      padding-right: 20px;
      max-height: 100%;
      margin-bottom: 20px;
      br{display: none;}
    }
    .item_text:before{right: 0;}
    .item.open{
      .item_hidden_info{padding-top: 20px;}
      .item_text{transform: none;}
    }
  }
  #sec_09{
    .img_1{width: 100%;}
  }
  #sec_15{
    form{
      box-shadow: -9px 10px 20px rgba(0,0,0,.3);
    }
    .top{
      margin-top: 145px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 992px) {
  #sec_02{
    ul br{ display: none;}
  }
  #sec_03{
    .item br {display: none;}
    .italic{width: 450px;}
  }
  #sec_02, #sec_03, #sec_04, #sec_05,
  #sec_06, #sec_10, #sec_11,
  #sec_12, #sec_13, #sec_14{
    img{width: 100%;}
  }
  #sec_07{
    .item_title{
      .time{margin-right: 0;}
    }
    .item_text{
      padding-right: 20px;
      max-height: 100%;
      margin-bottom: 20px;
      br{display: none;}
    }
    .item_text:before{right: 0;}
    .item.open{
      .item_hidden_info{padding-top: 20px;}
      .item_text{transform: none;}
    }
  }
  #sec_09{
    .img_1{width: 100%;}
  }
  #sec_15{
    form{
      box-shadow: -9px 10px 20px rgba(0,0,0,.3);
    }
    .top{
      margin-top: 145px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-height: 700px){
  .md_large .md_content {max-height: 320px;}
}
