@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 18px/24px $main_font;
	color: $main_text_color;
	background-color: #f9f8f8;
}

body.unscroll{
	overflow: hidden;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button, a{
	&:hover{
		cursor: pointer;
	}
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}

.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
  box-shadow: 0 12px 32px rgba(255, 53, 124, 0.47);
  border-radius: 24px;
  background-color: $second_color;
  background-image: linear-gradient(to top, #4dd0e4 0%, #6fecff 100%);

	color: #fff;
	font: 18px $bold_font;
  transition: all .3s;

  span{
    position: relative;
    z-index: 10;
  }
}

.btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 24px;
  background-image: linear-gradient(to top, #e6155e 0%, #ff357c 100%);
  transition: opacity .3s;
}

.btn:hover:before{opacity: 0;}

.btn:hover{
	background-color: $main_color;
  box-shadow: 0 12px 32px rgba(46, 227, 255, 0.47);
}

.btn:active{
  color: #0d6a78;
  box-shadow: 0 12px 32px rgba(46, 227, 255, 0.47);
  border-radius: 24px;
  background-color: #30a0b1;
  background-image: linear-gradient(to top, #248998 0%, #3eb9cc 100%);
}

h2{
  color: #000000;
  font: 48px/44px $bold_font;
  padding-bottom: 25px;
}

.title{
  color: #000000;
  font: 22px/24px $bold_font;
}
.block_title, .title_block{
  color: #000000;
  font: 32px/36px $bold_font;
  padding-bottom: 15px;
}
.italic{font-family: $italic_font;}

.pink{color: $second_color;}
.blue{color: $main_color;}
.black{color: #000;}

.b163{background: url(img/underlines/163-b.png) left bottom no-repeat;}
.b361{background: url(img/underlines/361-b.png) left bottom no-repeat;}
.b75{background: url(img/underlines/75-b.png) left bottom no-repeat;}
.p286{background: url(img/underlines/286-p.png) left bottom no-repeat;}
.p336{background: url(img/underlines/336-p.png) left bottom no-repeat;}
.p372{background: url(img/underlines/372-p.png) left bottom no-repeat;}
.p361{background: url(img/underlines/361-p.png) left bottom no-repeat;}
.w286{background: url(img/underlines/286-w.png) left bottom no-repeat;}


#sec_01{
  padding: 25px 0 200px;
  background: url(img/sec_01-bg.png) top center no-repeat;
  .text_block{
    position: relative;
    margin-top: 230px;
    .bold_text{
      position: absolute;
      top: -5px;
      left: 235px;

      color: #056676;
      font: 24px $bold_font;
    }
    .italic{
      position: absolute;
      top: -27px;
      right: 74px;

      color: #fea6b2;
      font-size: 50px;
    }
  }
  h1{
    color: #ffffff;
    font: 100px/102px $bold_font;
    margin-left: 95px;
    span{
      position: relative;
      display: inline-block;
      margin-left: 175px;
      z-index: 2;
    }
    span:before{
      position: absolute;
      content: '';
      width: 740px;
      height: 723px;
      left: -275px;
      top: -229px;
      background: url(img/sec_01--top_layer.png) center no-repeat;
      z-index: -1;
    }
  }
  .btn{
    margin: 235px auto 0;
    z-index: 10;
  }
}

.top{
  .call{
    float: right;
    margin-top: 5px;
    .tel{
      color: #000;
      font: 18px/50px $bold_font;
      display: inline-block;
      transition: color .3s;
    }
    .tel:hover{color:#EA8998}
    .call_btn{
      width: 200px;
      height: 40px;
      float: right;
      margin-left: 30px;
      border-radius: 19px;
      background-color: #ffffff;
      transition: background-color .3s, color .3s;

      color: #066372;
      font: 18px $bold_font;
    }
    .call_btn:hover{
      color: #fff;
      background-color: #fd327a;
    }
    .call_btn:active{
      color: #b20d47;
      background-color: #e81861;
    }
  }
}


@media (min-width: 992px) and (max-width: 1200px){
  #sec_01{
    h1{
      margin-left: 0;
      span{
        margin-left: 164px;
      }
    }
    .text_block{
      .bold_text{
        left: 150px;
      }
      .italic{
        right: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px){
  body{font-size: 16px;}
  h2{
    font: 36px/40px $bold_font;
    br{display: none}
  }
  .title{
    font: 18px/20px $bold_font;
  }
  .block_title, .title_block{
    font: 26px/32px $bold_font;
  }
  #sec_01{
    padding: 20px 0 180px !important;
    h1{
      font-size: 64px;
      margin: 0;
      span:before{
        background-size: contain;
        width: 500px;
        height: 500px;
        top: -120px;
        left: -250px;
      }
    }
    .text_block{
      .bold_text{
        left: 93px;
        font-size: 19px;
        top: 5px;
      }
      .italic{
        right: 35px;
        font-size: 40px;
        top: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  body{font-size: 16px;}
  h2{
    font: 36px/40px $bold_font;
    br{display: none}
  }
  .title{
    font: 18px/20px $bold_font;
  }
  .block_title, .title_block{
    font: 26px/32px $bold_font;
    display: inline-block;
  }
  #sec_01{
    text-align: center;
    padding: 20px 0 180px !important;
    .text_block{
      margin-top: 60px;
      display: inline-block;
    }
    h1{
      font-size: 64px;
      line-height: 70px;
      margin: 0;
      text-align: center;
      span:before{
        background-size: contain;
        width: 400px;
        height: 400px;
        top: 75px;
        left: -140px;
      }
      span{margin: 0;}
    }
    .text_block{
      .bold_text{
        position: static;
        text-align: center;
      }
      .italic{
        display: none;
      }
    }
    .btn{
      margin-top: 360px
    }
  }
}

@media (max-width: 530px) {
  .top{
    .call{
      float: none;
      margin-top: 0;
      .tel{
        font: 16px/40px $bold_font;
      }
      .call_btn{
        margin: 0 auto;
        float: none;
      }
    }
  }
  #sec_01{
    padding-bottom: 200px !important;
    background: url(img/sec_01-bg_mob.png) bottom left no-repeat;
    h1{
      line-height: 52px;
      margin-top: 5px;
      span:before{
        display: none;
      }
    }
    .btn{
      margin-top: 50px;
    }
  }
}

@media (max-width: 410px) {
  #sec_01{
    background: url(img/sec_01-bg_mobsm.png) bottom center no-repeat;
  }
}
