@import "bourbon";
@import "vars.scss";

//Custom Styles Here

#sec_02{
  padding: 45px 0 100px;
  h2{
    margin-left: 100px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
  }
  .tr{
    .title_block{
      margin-top: -103px;
      position: relative;
      z-index: 1;
      background-position: bottom right;
    }
    .text_block{
      position: relative;
      margin-bottom: 100px;
      color: #000;
      font-size: 48px;
      line-height: 50px;
      text-align: center;
      margin-top: 95px;
      background: url(../img/sec_02-block_bg.png) center no-repeat;
    }
    .text_block:before{
      position: absolute;
      content: '';
      width: 500px;
      height:310px;
      left: -187px;
      top: -134px;
      z-index: -1;
      background: url(../img/pluses_pattern.png) center no-repeat;
    }
  }
  .col-7{
    padding-left: 110px;
    .title_block{
      margin-top: 45px;
    }
    ul{
      margin-top: 24px;
      margin-left: 23px;
      .title{margin-bottom: 5px;}
      .text{line-height: 28px;}
      li+li{margin-top: 16px;}
    }
  }
  .text_block_pink{
    text-align: center;
    position: relative;
    padding: 35px 0 23px;
    margin-top: 78px;
    .pink{line-height: 30px;}
    .italic{
      font-size: 48px;
      line-height: 53px;
    }
  }
  .text_block_pink:before, .text_block_pink:after{
    position: absolute;
    content: '';
    width: 68px;
    height: 2px;
    left: 50%;
    margin-left: -34px;

    background-color: $second_color;
  }
  .text_block_pink:before{
    top: 0;
  }
  .text_block_pink:after{
    bottom: 0;
  }
}

#sec_03{
  padding: 100px 0;
  h2{margin-bottom: 30px;}
  .item{
    position: relative;
    margin-left: 10px;
    p.title{margin-bottom: 5px;}
  }
  .item:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 15px;
      left: -25px;
      top: 3px;
      background: url(../img/list_arow.png) center no-repeat;
    }
  .item+.item{margin-top: 35px;}
  .second-row .item{margin-left: 25px;}
  .item-big{
    margin-top: 30px;
    .title, .text{display: inline-block;}
    .pink{font: 22px $bold_font; margin-top: 5px;}
  }
  .italic{
    font-size: 48px;
    color: #a5a5a5;
    margin-top: 25px;
    margin-left: 10px;
    line-height: 44px;
  }
  .second_row{
    img{
      margin-top: 65px;
    }
  }
  .center_block{
    margin-top: 120px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 25px;
    }
    .italic{
      margin-top: 20px;
    }
    .btn{
      margin: 25px auto 0;
    }
  }
}

#sec_04{
  padding: 85px 0;
  h2 + .item{
    margin-left: 95px;
    margin-top: 55px;
    line-height: 28px;
    position: relative;
    margin-bottom: 30px;
  }
  h2 + .item:before{
    position: absolute;
    content: '';
    width: 45px;
    height: 15px;
    left: -55px;
    top: 0px;
    background: url(../img/sec_04-arr.png) center no-repeat;
  }
  .second_column{
    img{
      float: right;margin-top: 65px;
    }
    img + .item_pink{
      float: right;
      max-width: 460px;
      margin-top: -40px;
      .block_title{
        padding-bottom: 25px;
        margin-bottom: 15px;
      }
    }
    .wrap+.item_pink{
      margin-top: 40px;
      .block_title{
        margin-left: -65px;
        position: relative;
        z-index: 1;
        padding-bottom: 25px;
        margin-bottom: 15px;
      }
    }
  }
}

#sec_05{
  padding: 100px 0;
  h2{
    margin-bottom: 25px;
  }
  .col-6>.title{
    margin: 30px 0 10px;
  }
  .item{
    position: relative;
    z-index: 1;
    margin-top: 140px;
    margin-left: 100px;
    .block_title {margin-bottom: 15px;}
    .italic{
      color: #000000;
      font-family: $italic_font;
      font-size: 48px;
      line-height: 69px;
    }
  }
  img.right{
    margin-top: 80px;
  }
}

#sec_06{
  padding: 100px 0;
  h2{
    line-height: 50px;
    margin-top: -10px;
    margin-bottom: 85px;
  }
  .first_column{
    .item_pink{
      margin-top: 35px;
      margin-left: 100px;
      line-height: 28px;
      .block_title{
        margin-bottom: 15px;
      }
    }
  }
  .second_column{
    .item_pink{
      margin-top: 30px;
      margin-left: 100px;
      .block_title{
        padding-bottom: 25px;
      }
      .text{
        margin-top: -18px;
        margin-left: 92px;
      }
    }
  }
  .second_row{
    margin-top: 70px;
  }
  .center_block{
    margin-top: 45px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
      margin-bottom: 15px;
    }
    .italic{
      margin-top: 10px;
      color: #bebdbd;
      font-size: 48px;
    }
    .btn{
      margin: 25px auto 0;
    }
  }
}


footer{
  padding: 15px 0 15px;
  background-color: #202020;
  .politics{
    margin-top: 17px;
    a{
      color: #65666a;
      font-size: 14px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    // margin-right: 20px;
    float: right;
  }
}

//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"