@import "bourbon";
@import "vars.scss";

//Custom Styles Here

#sec_02{
  padding: 45px 0 100px;
  h2{
    margin-left: 100px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
  }
  .tr{
    .title_block{
      margin-top: -103px;
      position: relative;
      z-index: 1;
      background-position: bottom right;
    }
    .text_block{
      position: relative;
      margin-bottom: 100px;
      color: #000;
      font-size: 48px;
      line-height: 50px;
      text-align: center;
      margin-top: 95px;
      background: url(../img/sec_02-block_bg.png) center no-repeat;
    }
    .text_block:before{
      position: absolute;
      content: '';
      width: 500px;
      height:310px;
      left: -187px;
      top: -134px;
      z-index: -1;
      background: url(../img/pluses_pattern.png) center no-repeat;
    }
  }
  .col-7{
    padding-left: 110px;
    .title_block{
      margin-top: 45px;
    }
    ul{
      margin-top: 24px;
      margin-left: 23px;
      .title{margin-bottom: 5px;}
      .text{line-height: 28px;}
      li+li{margin-top: 16px;}
    }
  }
  .text_block_pink{
    text-align: center;
    position: relative;
    padding: 35px 0 23px;
    margin-top: 78px;
    .pink{line-height: 30px;}
    .italic{
      font-size: 48px;
      line-height: 53px;
    }
  }
  .text_block_pink:before, .text_block_pink:after{
    position: absolute;
    content: '';
    width: 68px;
    height: 2px;
    left: 50%;
    margin-left: -34px;

    background-color: $second_color;
  }
  .text_block_pink:before{
    top: 0;
  }
  .text_block_pink:after{
    bottom: 0;
  }
}

#sec_03{
  padding: 100px 0;
  h2{margin-bottom: 30px;}
  .item{
    position: relative;
    margin-left: 10px;
    p.title{margin-bottom: 5px;}
  }
  .item:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 15px;
      left: -25px;
      top: 3px;
      background: url(../img/list_arow.png) center no-repeat;
    }
  .item+.item{margin-top: 35px;}
  .second-row .item{margin-left: 25px;}
  .item-big{
    margin-top: 30px;
    .title, .text{display: inline-block;}
    .pink{font: 22px $bold_font; margin-top: 5px;}
  }
  .italic{
    font-size: 48px;
    color: #a5a5a5;
    margin-top: 25px;
    margin-left: 10px;
    line-height: 44px;
  }
  .second_row{
    img{
      margin-top: 65px;
    }
  }
  .center_block{
    margin-top: 120px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 25px;
    }
    .italic{
      margin-top: 20px;
    }
    .btn{
      margin: 25px auto 0;
    }
  }
}

#sec_04{
  padding: 85px 0;
  h2 + .item{
    margin-left: 95px;
    margin-top: 55px;
    line-height: 28px;
    position: relative;
    margin-bottom: 30px;
  }
  h2 + .item:before{
    position: absolute;
    content: '';
    width: 45px;
    height: 15px;
    left: -55px;
    top: 0px;
    background: url(../img/sec_04-arr.png) center no-repeat;
  }
  .item_pink{
    position: relative;
    z-index: 10;
  }
  .second_column{
    img{
      float: right;margin-top: 65px;
    }
    img + .item_pink{
      float: right;
      max-width: 460px;
      margin-top: -40px;
      .block_title{
        padding-bottom: 25px;
        margin-bottom: 15px;
      }
    }
    .wrap+.item_pink{
      margin-top: 40px;
      .block_title{
        margin-left: -65px;
        position: relative;
        z-index: 1;
        padding-bottom: 25px;
        margin-bottom: 15px;
      }
    }
  }
}

#sec_05{
  padding: 100px 0;
  h2{
    margin-bottom: 25px;
  }
  .col-6>.title{
    margin: 30px 0 10px;
  }
  .item{
    position: relative;
    z-index: 1;
    margin-top: 140px;
    margin-left: 100px;
    .block_title {margin-bottom: 15px;}
    .italic{
      color: #000000;
      font-family: $italic_font;
      font-size: 48px;
      line-height: 69px;
    }
  }
  img.right{
    margin-top: 80px;
  }
}

#sec_06{
  padding: 100px 0;
  h2{
    line-height: 50px;
    margin-top: -10px;
    margin-bottom: 85px;
    position: relative;
    z-index: 10;
  }
  .first_column{
    .item_pink{
      margin-top: 35px;
      margin-left: 100px;
      line-height: 28px;
      .block_title{
        margin-bottom: 15px;
      }
    }
  }
  .second_column{
    .item_pink{
      margin-top: 30px;
      margin-left: 100px;
      .block_title{
        padding-bottom: 25px;
      }
      .text{
        margin-top: -18px;
        margin-left: 92px;
      }
    }
  }
  .second_row{
    margin-top: 70px;
  }
  .center_block{
    margin-top: 45px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
      margin-bottom: 15px;
    }
    .italic{
      margin-top: 10px;
      color: #bebdbd;
      font-size: 48px;
    }
    .btn{
      margin: 25px auto 0;
    }
  }
}

#sec_07{
  padding: 95px 0;
  h2{
    margin-bottom: 70px;
    display: inline-block;
  }
  .item_title{
    .number{
      opacity: 0.54;
      color: $second_color;
      font-family: $bold_font;
      font-size: 100px;
      line-height: 98px;
    }
    .italic{
      font-size: 48px;
      font-weight: 400;
      line-height: 98px;
      vertical-align: top;
      margin-left: -60px;
    }
    .time{
      color: $second_color;
      font-family: $bold_font;
      font-size: 14px;
      line-height: 98px;
      vertical-align: top;
      float: right;
      margin-right: 30px;
    }
  }
  .item_text{
    transition: all 0.6s;
    position: relative;
    max-height: 28px;
    color: #000000;
    font-family: $bold_font;
    font-size: 22px;
    line-height: 28px;
    // margin-top: -5px;
  }
  .item_text:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    right: 50px;
    top: 8px;
    background: url(../img/plus.png) center no-repeat;
    transition: .6s;
  }
  .item+.item{margin-top: 42px;}
  .final{
    font-size: 48px;
    margin-top: 60px;
  }
  .item_hidden_info{
    display: none;
    padding: 30px 30px 25px;
    background: #fff;
    font-size: 16px;
    .part{
      margin: 15px 0 10px;
       span {font-size: 36px;}
    }
    .pink{margin: 10px 0;}
    .main_list{
      opacity: 0;
      li{
        position: relative;
        margin-left: 25px;
      }
      li:before{
          position: absolute;
          content: '';
          width: 20px;
          height: 15px;
          left: -25px;
          top: 3px;
          background: url(../img/list_arow.png) center no-repeat;
        }
      li+li{margin-top: 10px;}
      ul{
        margin-top: 10px;
        li{
          margin-left: 35px;
          span{color: #000;}
        }
        li:before{
          position: absolute;
          content: '';
          left: -20px;
          top: 0px;
          color: #ecebeb;
          font-family: $italic_font;
          font-size: 50px;
          background: none;
        }
        li:nth-child(1):before{content: "a"};
        li:nth-child(2):before{content: "b"};
        li:nth-child(3):before{content: "c"};
        li:nth-child(4):before{content: "d"};
        li:nth-child(5):before{content: "e"};
        li:nth-child(6):before{content: "f"};
        li:nth-child(7):before{content: "g"};
      }
    }
  }
  .item{cursor:pointer;}
  .item.open{
    .item_hidden_info{padding-top: 90px;}
    .item_text{transform: translate(30px, 50px);}
    .main_list{opacity: 1;}
    .item_text:before{transform: rotate(225deg) !important;}
  }
  .item:hover{
    .item_text:before{transform: rotate(-270deg)}
  }
  .mobile{display: none;}
}

#sec_08{
  padding: 80px 0;
  h2{
    margin: 17px 0 32px;
  }
  .title{margin-bottom: 10px;}
}

#sec_09{
  padding: 95px 0;
  h2{margin-bottom: 35px;}
  .item{
    margin-left: 100px;
    .title{
      position: relative;
      margin-top: 10px;
      margin-bottom: 50px;
    }
    .title:before{
      position: absolute;
      content: '';
      width: 45px;
      height: 15px;
      left: -57px;
      top: 3px;
      background: url(../img/sec_04-arr.png) center no-repeat;
    }
  }
  .center_block{
    margin-top: 35px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
      margin-bottom: 15px;
    }
    .italic{
      margin-top: 10px;
      color: #bebdbd;
      font-size: 48px;
      line-height: 44px;
      .blue{font-size: 72px;}
    }
    .btn{
      margin: 25px auto 0;
    }
  }
}

#sec_10{
  padding: 90px 0;
  h2{margin-bottom: 75px;}
  .item{
    position: relative;
    margin-left: 30px;
    p.title{margin-bottom: 10px;}
  }
  .item:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 15px;
      left: -30px;
      top: 3px;
      background: url(../img/list_arow.png) center no-repeat;
    }
  .item+.item{margin-top: 35px;}
}

#sec_11{
  padding: 100px 0;
  h2{
    margin: 92px 0 36px;
  }
  .item{
    margin-left: 100px;
    margin-bottom: 170px;
    .block_title{margin-bottom: -7px;}
  }
  .center_block{
    margin-top: 45px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
      margin-bottom: 23px;
    }
    .italic{
      color: #bebdbd;
      font-size: 48px;
      line-height: 44px;
      .blue{font-size: 72px;}
    }
    .btn{
      margin: 15px auto 0;
    }
  }
}

#sec_12{
  padding: 100px 0;
  h2{margin: -10px 0 50px;}
  .item{
    margin-left: 100px;
    .title{margin-bottom: 10px;}
  }
  .item+.item{margin: 25px 0 20px 100px;}
  .center_block{
    margin-top: 50px;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
      margin-bottom: 23px;
    }
    .italic{
      color: #000;
      font-size: 48px;
      line-height: 58px;
    }
    .text{line-height: 28px;}
  }
}

#sec_13{
  padding: 45px 0 90px;
  h2{margin: 15px 0 46px;}
  .item{
    margin-left: 100px;
    .title{
      line-height: 28px;
      margin-bottom: 15px;
    }
    ul{
      li{
        position: relative;
        margin-left: 26px;
      }
      li:before{
          position: absolute;
          content: '';
          width: 20px;
          height: 15px;
          left: -30px;
          top: 3px;
          background: url(../img/list_arow.png) center no-repeat;
        }
      li+li{margin-top: 10px;}
    }
    .pink{
      font-family: $bold_font;
      font-size: 22px;
      margin-top: 25px;
    }
  }
  .center_block{
    margin-top: -155px;
    position: relative;
    z-index: 1;
    .block_title{
      background-position: bottom center;
      padding-bottom: 20px;
    }
    .italic{
      margin-top: 10px;
      color: #bebdbd;
      font-size: 48px;
      line-height: 44px;
    }
    .btn{
      margin: 15px auto 0;
    }
  }
}

#sec_14{
  padding: 105px 0 90px;
  h2{margin-bottom: 60px;}
  ul{
    margin-left: 100px;
    margin-bottom: 70px;
    position: relative;
    li{
      position: relative;
      .title{margin-bottom: 10px;}
    }
    li+li{margin-top: 28px;}
  }
  ul:before{
    position: absolute;
    content: '';
    width: 45px;
    height: 15px;
    left: -57px;
    top: 3px;
    background: url(../img/sec_04-arr.png) center no-repeat;
  }
  .first_img{
    margin: 80px 0 35px;
  }
  .item_first{
    margin-left: 100px;
    margin-bottom: 105px;
    .block_title{
      margin-left: -100px;
      padding-left: 40px;
      padding-bottom: 30px;
      margin-bottom: -20px;
    }
  }
  .item_second{
    position: relative;
    z-index: 1;
    margin-left: 94px;
    margin-top: -77px;
    margin-bottom: 42px;
    .block_title{
      padding-bottom: 25px;
      margin-bottom: 20px;
    }
  }
  .item_third{
    position: relative;
    z-index: 1;
    .block_title{
      margin-left: -75px;
      padding-bottom: 25px;
      margin-bottom: 23px;
    }
  }
}


#sec_15{
  padding: 100px 0 20px;
  background: url(../img/sec_15-bg.png) top center no-repeat;
  h2{margin-bottom: 20px;}
  .block_title{
    margin: 20px 0 -7px;
  }
  form{
    max-width: 460px;
    margin-top: 60px;
    width: 460px;
    float: right;
    padding: 50px 68px 68px;
    background: #fff;
    .btn{
      display: block;
      margin: 30px auto 0;
    }
  }
  .italic{
    color: #ffffff;
    font-size: 48px;
    margin-top: 40px;
    text-align: center;
    line-height: 36px;
  }
  .top{
    margin-top: 245px;
    margin-bottom: 70px;
  }
}

footer{
  padding: 15px 0 15px;
  background-color: #202020;
  .politics{
    margin-top: 10px;
    a{
      color: #65666a;
      font-size: 14px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 5px;
    float: right;
    img{width: 70px;}
  }
}

//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"